/* aiChat.css */
.chatTopbar{
  width:100%;
  height:97px;
  border-bottom:1px solid #c2c0c0;
}
.topbarNewchat{
  display: flex;
  padding:50px 20px 10px;
  justify-content: space-between;
}
.topbarNewchat .newText{
  font-size: 1em;
}
.topbarNewchat .rightButton{
  text-align: right;
  padding-right:10px;
}
.sourceButton{
  padding:0 5px;
  border:1px solid #5A7D8B;
  border-radius: 10px;
  line-height: 24px;
  color:#2D5C6D;
  font-size: 12px;
}

.sourceButton img{
  width:16px;
  height:16px;
  border-radius: 50%;
  margin-right:3px;
  vertical-align: text-top;
}

/* 伙伴头部展示 */
.partnerDiv{
  display: flex;
  padding:20px 20px 10px;
  justify-content: space-around;
}

.partnerDiv .goback{
  width:20px;
  height: 20px;
  margin-right:30px;
  background: url(../../img/syner/goback-icon.png) no-repeat;
  cursor: pointer;
  background-size: contain;
  margin-top: 20px;
}

.partnerDiv .headPic{
  width:55px;
  height:55px;
  border-radius: 8px;
  margin-right: 20px;
}
.partnerDiv .headPic img{
  width:50px;
  height:50px;
  border-radius: 10px;
}
.partnerDiv .introText{
  flex: 1;
  line-height: 30px;
}
.partnerDiv .introText p{
  margin:0;
}
.colorText{
  color:#2D5C6D;
}
.boldText{
  font-size: 16px;
  font-weight: 600;
}

.partnerDiv .addTeam{
  width:120px;
  padding-top:20px;
}
.partnerDiv .addButton{
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #5A7D8A;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  color:#fff;
  font-size: 14px;
}

/* 对话列表 */
.chatContainer{
    margin-top:0;
    padding:30px 80px 30px 120px;
    justify-content:space-around;
}

.chatRow{
  position: relative;
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.chatPic{
  position: absolute;
  left:-40px;
  top:0;
  width:30px;
  height: 30px;
}
.chatPic img{
  width:25px;
  height: 25px;
  border-radius: 50%;
}
.chatCon{
  flex:1;
  position:relative;
  width:100%;
  max-width: 720px;
  min-width: 520px;
}

/* 上传文件后按钮 */
.fileCon{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 30px;
}
.fileCon .fileStyle{
  display: inline-block;
  padding: 0 5px;
  background-color: #7B92EB;
  color:#fff;
  border-radius: 8px 0 0 8px;
  margin-right:6px;
}
.answerCon{
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
}
.answerButtons{
  width:100%;
  position: absolute;
  left:0;
  bottom:-25px;
  display: flex;
  justify-content: space-between;
}
.refresh{
  display: inline-block;
  color:#555;
  cursor: pointer;
}
.refresh:hover{
  color:#676c90;
}

.refresh::before{
  display: inline-block;
  width:20px;
  height: 20px;
  background: url(../../img/syner/refresh-icon.png) no-repeat;
  background-size: contain;
  content: "";
  vertical-align: text-bottom;
  margin-right:3px;
}

.stopGenerate,.againGenerate{
  display: inline-block;
  color: #0F40F5;
  cursor: pointer;
}
.stopGenerate:hover,.againGenerate:hover{
  color:#4a6ef1;
}
.stopGenerate::before,.againGenerate::before{
  display: inline-block;
  width:20px;
  height: 20px;
  background: url(../../img/syner/again-icon.png) no-repeat;
  background-size: contain;
  content: "";
  vertical-align: text-bottom;
  margin-right:3px;
}
.againGenerate::before{
  background: url(../../img/syner/refresh-icon2.png) no-repeat;
  background-size: contain;
}

p.answerRightButton{
  display: flex;
  justify-content: start;
  background: url(../../img/syner/chat-buttons.png) no-repeat;
  background-size: contain;
  margin:0;
}
.copyIcon,.shareIcon,.readIcon{
  display: inline-block;
  width:20px;
  height:20px;
  margin-right:6px; 
  cursor: pointer;
}
.copyIcon{background-position: 0 0;}
.shareIcon{background-position: 30px 0;}
.readIcon{background-position: 60px 0;}

/* 试着问问 */
.tryTitle{
  width: 100%;
  text-align: center;
  padding:40px 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  color:#535353;
}
.moreQuestion {
  color: #676c90;
  font-size: 13px;
  font-weight: 400;
  overflow: auto;
  padding: 8px 0;
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: center;
}
.moreQuestion span{
  background: hsla(0, 7%, 97%, 0.9);
  border-radius: 6px;
  box-shadow: 0 16px 20px 0 rgba(174,167,223,.06);
  line-height: 24px;
  margin-left: 10px;
  padding: 8px 16px;
}
/*输入框*/
.chatDiv{
  position:absolute;
  width: 100%;
  bottom:0;
  padding-bottom:20px;
  padding-top:20px;
  display: flex;
  justify-content: center;
  background: #fff;
}
.chatDiv .inner{
    max-width: 960px;
    min-width: 520px;
    padding: 0 100px 0 140px;
    width: 100%;
    box-sizing: border-box;
}
.chatBox {
  background: #fff;
  border: 1px solid #446C7B;
  border-radius: 8px;
  margin-bottom: -2px;
  margin-left: 0;
  margin-right: 0;
  min-height: 30px;
  overflow: hidden;
  position: relative;
  transition: all .16s;
}
.chatButton{
  position:absolute;
  right:20px;
  bottom:10px;
  width:100px;
  height:30px;
  background: url('../../img/syner/input-button.png') no-repeat 5px 0;
  background-size: contain;
  display: flex;
  justify-content: space-between;
}
.uploatIcon,.chatIcon,.sendIcon{
  display: inline-block;
  width:30px;
  height:30px;
  cursor:pointer;
}
.uploatIcon{
  background-position: 0 0;
}
.chatIcon{
  background-position: 30px;
}
.sendIcon{
  background-position: 60px;
}
.textareaBox{
  align-items: flex-start;
  display: flex;
  min-height: 30px;
  padding: 3px 90px 3px 12px;
}

textarea.antInput {
  height: auto;
  border:none;
  max-width: 100%;
  min-height: 30px;
  transition: all .3s,height 0s;
  vertical-align: bottom;
  text-overflow: ellipsis;
  resize: none;
  min-width: 600px;
  font-size: 1em;
  max-width: 100%;
  overflow-y: hidden;
  margin-top:10px;
}

/* 场景输入框 */
.sceneEditor{
  padding: 5px;
  max-height: 262px;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: calc(100% - 150px);
  color: #1a2029;
  text-align: left;
  line-height: 22px;
  overflow-y: auto;
  caret-color: #2454ff;
  word-break: break-word;
  font-size: 14px;
}
.sceneEditor p{
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top:0;
}
.sceneTitle{
  font-weight: 500;
}
.sceneEditor span{
  display: inline-block;
  white-space: pre-wrap;
  padding:0 5px;
}
.sceneEditor span.normal{
  background:#D2D2D2;
  border-radius:5px;
}
.sceneEditor span.editorStutas{
  border-radius:5px;
  border:1px solid #585858;
}
