/* chatLeft.css */
 .leftButtonDiv{
    padding:0 10px;
    display: flex;
    justify-content: center;
 }
.newButton{
    width:100%;
    max-width: 156px;
    height:45px;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #007B61;
    line-height: 45px;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
}
.newButton .plusIcon{
    display: inline-block;
    width:18px;
    height: 18px;
    background: url(../../img/syner/plus_icon.svg) no-repeat;
    background-size: cover;
    margin-right: 5px;
    vertical-align: text-top;
}
 .leftSearchDiv{
    padding:15px;
 }

 .leftSearch{
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    text-align: left;
    padding-left: 30px;
    height: 30px;
    margin:auto;
    overflow: hidden;
}
.leftSearch input{
    border:none;
    border-radius:5px 0 0 5px;
    width:100%;
    height: 30px;
    line-height: 30px;
    outline: 0;
    font-size: 14px;
}
.leftSearchButton{
    position: absolute;
    left:8px;
    top:8px;
    width:16px;
    height: 16px;
    background: url(../../img/syner/search.svg) no-repeat;
    background-size: contain;
    cursor:pointer;
} 
.recommendList{
    padding-left:15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -10px;
    padding-bottom:15px;
    align-items: center;
}
.recommendItem{
    padding: 4px 10px;
    box-sizing: border-box;
    height: 28px;
    margin-right: 7px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    min-width: 55px;
    text-align: center;
    background: #f8f8f8;
    border-radius: 8px;
    cursor: pointer;
}
.recommendItem:hover{
    color:#007B61;
}
.recommendItem.active{
    background-color: #007B61;
    color:#fff;
}
.leftChatItem{
    position: relative;
    padding:10px 15px;
    line-height: 30px;
    margin-bottom: 2px;
    color:#666;
    font-size: 14px;
}

.leftChatItem.current,.leftChatItem:hover{
    background-color: #fff;
    color: #007b61;
}
.docItemIcon,.chatItemIcon{
    display: inline-block;
    vertical-align: middle;
    width:18px;
    height:18px;
    margin-right:3px;
    background-repeat: no-repeat;
    background-size: contain;
}
.docItemIcon{
    background-image: url(../../img/syner/doc_icon.svg);
}
.leftChatItem.current .docItemIcon,.leftChatItem:hover .docItemIcon{
    background-image: url(../../img/syner/doc_icon_active.svg);
}
.chatItemIcon{
    background-image: url(../../img/syner/chat_icon.svg);
}
.leftChatItem.current .chatItemIcon,.leftChatItem:hover .chatItemIcon{
    background-image: url(../../img/syner/chat_icon_active.svg);
}

.leftChatDelete{
    display: none;
    position: absolute;
    right:10px;
    top:15px;
    width:18px;
    height: 18px;
    background-image: url(../../img/syner/delete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.leftChatDelete:hover{
    background-image: url(../../img/syner/delete_hover.svg);
}
.leftChatItem.current .leftChatDelete,.leftChatItem:hover .leftChatDelete{
    display: block;
}
/* 左侧大标题 */
.leftLargeTitle{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftLargeTitle .title{
    font-size: 16px;
}
.leftLargeTitle .welcome_icon,
.leftLargeTitle .history_icon,
.leftLargeTitle .nearby_icon
{
    display: inline-block;
    width:18px;
    margin-right:5px;
    background-size: cover;
    background-repeat: no-repeat;

}
.leftLargeTitle .welcome_icon{
    height: 18px;
    background-image: url(../../img/syner/welcome_icon.svg);
    vertical-align: text-bottom;
}
.leftLargeTitle .history_icon{
    height: 18px;
    background-image: url(../../img/syner/history_icon.svg);
    vertical-align: text-top;
}
.leftLargeTitle .nearby_icon{
    height:16px;
    background-image: url(../../img//syner/nearby_icon.svg);
    vertical-align: middle;
}
.leftLargeTitle .foldButton{
    width:16px;
    height: 16px;
    background: url(../../img/syner/fold_icon.svg) no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* prompt */
.definePrompt{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.definePrompt .tt{
    color:#0F40F5;
    font-size: 14px;
}
.definePrompt .clickArrow{
    width: 15px;
    height: 15px;
    background: url(../../img/syner/arrow_icon.svg) no-repeat;
    background-size: cover;
}
.promptList{
    display: flex;
    padding:0 10px;
}
.promptListLeft{
    margin-right:10px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    -moz-box-align: center;
    -webkit-box-align: center;
}
.promptListRight{
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.promptItem{
    background-color:#D9D9D8;
    padding:5px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.promptItem .tt{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.promptItem .text{
    color:#666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.promptItem .heatBottom{
    display: flex;
    justify-content: space-between;
    margin-top:5px;
    width: 100%;
    align-items: center;
}
.viewNum{
    text-align: left;
    color: #666;
    font-size: 12px;  
}
.viewNum::before{
    display: inline-block;
    width: 12px;
    height: 12px;
    content: "";
    vertical-align: text-top;
    background: url(../../img/syner/view_icon.svg) no-repeat;
    background-size: contain;
    margin-right:2px;
}
.editIconButton{
    width:16px;
    height: 16px;
    background-image: url(../../img/syner/edit_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.editIconButton:hover{
    background-image: url(../../img/syner/edit_icon_hover.svg);
}
/* 社区菜单 */
.spaceMenu ul{
    padding-left: 0;
    margin: 0;
}
.spaceMenu li{
    padding:6px 15px;
    font-size: 14px;
    list-style: none;
}
.spaceMenu li:hover,.spaceMenu li.active{
    background-color: #fff;
    color:#007B61;
}
.spaceMenu .recommendIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url(../../img/syner/recommend_icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.spaceMenu li:hover .recommendIcon,.spaceMenu li.active .recommendIcon{
    background-image: url(../../img/syner/recommend_icon_hover.svg);
}